body{
	background-color: black;
	color: white;}
	
h1{
	font-size: 300%;
	text-align: center;
	background-color:black;
	color: white;}

p{
	font-size: 115%;
	color: purple;
}
	
footer{
	font-size:75%;
	background-color: black;
	color: green;}
	
.attempt{
	font-align: center;
	color: green;
	font-weight: bold;
	
}

.slant{
	font-size: 150%;
	color: red;
	font-family: "Comic Sans MS";
}
#picture{
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	padding-right: 25px
	border-radius: 50%;
}